<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="author" content="Barry"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/tabs.css}"/>
    <link rel="stylesheet" th:href="@{/css/blog-content.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/wangEditor.js}"></script>
    <title>太极开发者社区测试</title>
    <style type="text/css">
        .widget-sentence {
            width: 1100px;
            margin: 0 auto;
            padding: 15px;
            padding-bottom: 100px;
        }

        #article-editor {
            border: 1px solid #CCCCCC;
            height: 300px;
            width: 1100px;
            margin: 0 auto;
        }

        .action {
            margin: 20px 0 0 0;
        }

        .re-comment {
            border-top: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
        }

        .max-count {
            position: relative;
            top: -36px;
            left: 1000px;
        }

        .changed {
            color: #EF4639;
        }
    </style>
</head>
<body>
<header th:replace="public/beforeHeader::beforeHeader"></header>
<div class="container">
    <div id="mainContent">
        <div id="forumdiv">
            <div class="widget widget-forums">
                <div class="blog">
                    <div class="blog-content-box">
                        <div class="blog-header-box">
                            <div class="title-box">
                                <div class="blog-title h2" th:text="${article.aName}"></div>
                                <div class="blog-header">
                                    <span class="blog-create-time" th:text="${article.createDate}"></span>
                                    <span class="blog-author" th:text="${articleAuthor}"></span>
                                </div>
                            </div>
                            <div class="box-content">
                                <div class="blog-content" th:utext="${content}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-sentence" style="padding-top: 50px;">
                    <div class="re-comment" th:each="comment, commentStat : ${comments}">
                        <div class="re-author">
                            <span class="re-flour" th:text="${commentStat.index + 2} + 楼"></span>
                            <span class="re-flour-author" th:text="${comment.cAuthor}"></span>
                        </div>
                        <div class="re-content" th:utext="${comment.content}" style="min-height: 100px;"></div>
                        <div class="re-createDate" th:text="${comment.createDate}" style="color: #999999;"></div>
                    </div>
                    <div class="comment" style="margin: 50px 0 0 0;">
                        <div id="article-toolbar" style="width: 1100px;margin: 0 auto;border: 1px solid #ccc;"></div>
                        <div id="article-editor" class="article-editor"></div>
                        <span class="max-count"></span>
                    </div>
                    <div class="action">
                        <span id="add-comment" class="btn btn-default">评论</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    /*<![CDATA[*/
    var E = window.wangEditor, txtHtml;
    var editor = new E('#article-toolbar', '#article-editor');
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
        'italic',  // 斜体
        'underline',  // 下划线
        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
        'backColor',  // 背景颜色
        'justify',  // 对齐方式
        'undo',  // 撤销
        'redo'  // 重复
    ];
    // editor.customConfig.onchange = function (html) {
    //     txtHtml = html;
    //     console.log(txtHtml);
    // };
    editor.create();
    $(function () {
        $('#add-comment').click(function () {
            // var textHtml = changeStr(txtHtml);
            // console.log(textHtml);
            $.ajax({
                url: '/addComment',
                type: 'get',
                data: {
                    content: editor.txt.html(),
                    cAuthor: 'ce',
                    articleName: $('.blog-title').text()
                },
                success: function () {
                    window.location.reload();
                },
                error: function () {
                }
            });
        });

    });

    // function changeStr(html) {
    //     var test;
    //     if (html === undefined) {
    //
    //     } else {
    //         console.log('old ', html);
    //         var reg = /<[^>]+>/g;
    //         reg = /<[^>]*>|<\/[^>]*>/gm;
    //         test = encodeHtml(html);
    //         test.replace(reg, '');
    //         console.log('new ', test);
    //     }
    //     return html;
    // }
    //
    // function encodeHtml(str) {
    //     var encodedStr = "";
    //     if (str === "") return encodedStr;
    //     else {
    //         for (var i = 0; i < str.length; i++) {
    //             encodedStr += "&#" + str.substring(i, i + 1).charCodeAt().toString(10) + ";";
    //         }
    //     }
    //     return encodedStr;
    // }



    /*]]>*/
</script>
</body>
</html>