<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache" />
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate" />
    <meta HTTP-EQUIV="expires" CONTENT="0" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabs.css}" rel="stylesheet"/>

    <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <title>太极开发者社区</title>
</head>
<body>
<div>
    <header class="header">
        <nav class="navbar navbar-default" id="navbar">

            <div class="container">
                <div class="navbar-header">
                    <h1 class="logo hvr-bounce-in">
                        <a href="/index" title="首页">
                            <img alt="太极开发者社区" src="/images/logo.jpg" /></a>
                    </h1>
                </div>
            </div>
        </nav>
    </header>
</div>
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <input id="infosortId" hidden="true" value="71f0ed0aa56d480a81ce78eb8cc99605" />
            <div id="focusslide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                    <li data-target="#focusslide" data-slide-to="1"></li>
                    <li data-target="#focusslide" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <a href="" target="_blank" title="">
                            <img src="/images/1.jpg"  alt="" class="img-responsive" />
                            <div class="carousel-caption"><h3></h3></div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" target="_blank" title="">
                            <img src="/images/2.png"  alt="" class="img-responsive" />
                            <div class="carousel-caption"><h3></h3></div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="" target="_blank" title="">
                            <img src="/images/3.jpg"  alt="" class="img-responsive" />
                            <div class="carousel-caption"><h3></h3></div>
                        </a>
                    </div>
                </div>
                <!--<a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                    <!--<span class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide" role="button" data-slide="next" rel="nofollow">-->
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only">下一个</span>-->
            <!--</a>-->
            </div>
            <!-- 内容主页面  -->
            <div id="mainContent">
                <div id="forumdiv">
                    <div class="widget widget-forums">
                        <a href=""><h3>讨论组</h3></a>
                        <div class="forum-main">
                            <img src="/images/8.jpg"/>
                            <strong class="menu-font">
                                <a href="">大数据架构</a>
                            </strong>
                            <p class="">大数据系统架构方面的讨论</p>
                        </div>
                        <div class="forum-main">
                            <img src="images/7.jpg"/>
                            <strong class="menu-font">
                                <a href="#">Spring Cloud</a>
                            </strong>
                            <p class="">Spring Cloud相关技术</p>
                        </div>
                        <div class="forum-main">
                            <img src="images/6.jpg" />
                            <strong class="menu-font">
                                <a href="">Spring Boot</a>
                            </strong>
                            <p class="">Spring Boot开发技术小组讨论</p>
                        </div>
                        <div class="widget-sentence-content"><span></span></div>
                    </div>
                </div>

                <div id="articlediv" class="widget widget_sentence">
                    <h3>最新话题</h3>
                    <div>
                        <div class="demo-two-fuyong-bottom">
                            <div class="demo-two-fuyong-bottom-left">
                                <!-- <img th:src="${userDto.avatar}!=null?'/avatarUpload/'+${userDto.avatar}:'/common/images/default-head.jpg'"/> -->
                                <img src="images/default-head.jpg" />
                                <!-- <img th:src="@{'/avatarUpload/'+${userAvatar}}"/> -->
                            </div>
                            <div class="demo-two-fuyong-bottom-center">
                                <p class="b-col2"><a href="">Vue3.0计划</a></p>
                                <p class="abstract"><time class="time">2018-12-10 14:52:26</time></p>
                            </div>
                            <div class="demo-two-fuyong-bottom-right">
                                <a class="two-cont" href="">刘文龙</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="demo-two-fuyong-bottom">
                            <div class="demo-two-fuyong-bottom-left">
                                <!-- <img th:src="${userDto.avatar}!=null?'/avatarUpload/'+${userDto.avatar}:'/common/images/default-head.jpg'"/> -->
                                <img src="images/default-head.jpg" />
                                <!-- <img th:src="@{'/avatarUpload/'+${userAvatar}}"/> -->
                            </div>
                            <div class="demo-two-fuyong-bottom-center">
                                <p class="b-col2"><a href="">关于NASA WorldWind的粗略介绍</a></p>
                                <p class="abstract"><time class="time">2018-12-03 15:02:50</time></p>
                            </div>
                            <div class="demo-two-fuyong-bottom-right">
                                <a class="two-cont" href="">叶子琛</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="demo-two-fuyong-bottom">
                            <div class="demo-two-fuyong-bottom-left">
                                <!-- <img th:src="${userDto.avatar}!=null?'/avatarUpload/'+${userDto.avatar}:'/common/images/default-head.jpg'"/> -->
                                <img src="/images/default-head.jpg" />
                                <!-- <img th:src="@{'/avatarUpload/'+${userAvatar}}"/> -->
                            </div>
                            <div class="demo-two-fuyong-bottom-center">
                                <p class="b-col2"><a href="/community/forumPost/postInfo?id=fe435c7bf6e34f3da7f1ca5b50c8e8d9">机器学习日记（1）pytorch代码实现基本的神经网络</a></p>
                                <p class="abstract"><time class="time">2018-11-03 02:55:40</time></p>
                            </div>
                            <div class="demo-two-fuyong-bottom-right">
                                <a class="two-cont" href="/community/showFollowerInfo?id=57cbe61c911046689bdf9a35a133c43a">李清方</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="demo-two-fuyong-bottom">
                            <div class="demo-two-fuyong-bottom-left">
                                <!-- <img th:src="${userDto.avatar}!=null?'/avatarUpload/'+${userDto.avatar}:'/common/images/default-head.jpg'"/> -->
                                <img src="/images/default-head.jpg" />
                                <!-- <img th:src="@{'/avatarUpload/'+${userAvatar}}"/> -->
                            </div>

                            <div class="demo-two-fuyong-bottom-center">
                                <p class="b-col2"><a href="/community/forumPost/postInfo?id=741d73b029bc41b9bfe6c99a9718ec8b">The Design and Implementation of Distributed Data Acquisition System</a></p>
                                <p class="abstract"><time class="time">2018-11-02 15:39:06</time></p>
                            </div>
                            <div class="demo-two-fuyong-bottom-right">
                                <a class="two-cont" href="/community/showFollowerInfo?id=1cb2d06f346f48afb552ddcd9440a377">张晓轩</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 内容页面  -->
        </div>
    </div>
    <aside class="sidebar">

        <div class="container">
            <div class="login-form col-md-12 widget">
                <form class="form-horizontal" role="form" action="/login" method="post">
                    <button type="button" class="btn btn-primary  dropdown-toggle" data-toggle="collapse" data-target="#header-navbar" aria-expanded="false" th:align="right" th:text="发现">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="col-md-12">
                        <h3 class="login-title"></h3>
                    </div>
                    <div class="collapse navbar-collapse" id="header-navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a href="/index">首页</a></li>
                            <li></li>
                            <li><a href="/index">博客</a></li>
                            <li><a href="/index">讨论组</a></li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="统一认证登录" class="btn btn-primary btn-lg btn-block" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- 个人信息 -->
        <div class="widget widget_hot">
	<span>
		<h3>博客推荐</h3>
			<ul>
			<li>
			 <a href="index.html">
				<span class="thumbnail"> </span>
				<span class="text">Spring Security系列教程</span>
				<i class="muted glyphicon glyphicon-time"><span>2018-12-13 15:23:04.0</span> </i>
					<i class="muted glyphicon glyphicon-user">
					<span>朱博阳</span></i>
			 </a>
			</li>
		</ul>
		</span>
            <br />
            <h3>最新文章</h3>
            <ul>
                <li>
                    <a href="index.html">
                        <span class="thumbnail"> </span>
                        <span class="text">spring-boot</span>
                        <i class="muted glyphicon glyphicon-time"><span>2018-12-14 17:03:06.0</span> </i>
                        <i class="muted glyphicon glyphicon-user">
                            <span>李清方</span></i>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</section>
<div>
    <footer class="footer">
        <div class="container">
            Copyright @ 2018 太极旺仔牛奶小组  Powered By Innovation and Research Institute
        </div>
    </footer>
</div>
</body>
</html>