<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache"/>
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate"/>
    <meta HTTP-EQUIV="expires" CONTENT="0"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/tabs.css"/>
    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>个人中心</title>
</head>
<body>
<header th:replace="public/beforeHeader::beforeHeader"></header>
<section class="container">
    <!-- 内容主页面  -->
    <div id="mainContent">
        <div id="forumdiv">
            <div class="widget widget-forums">
                <a href=""><h3>我加入的组</h3></a>
                <div class="forum-main">
                    <img src="/images/8.jpg"/>
                    <strong class="menu-font">
                        <a href="">大数据架构</a>
                    </strong>
                    <p class="">大数据系统架构方面的讨论</p>
                </div>
                <div class="forum-main">
                    <img src="/images/7.jpg"/>
                    <strong class="menu-font">
                        <a href="#">Spring Cloud</a>
                    </strong>
                    <p class="">Spring Cloud相关技术</p>
                </div>
                <div class="forum-main">
                    <img src="/images/6.jpg"/>
                    <strong class="menu-font">
                        <a href="">Spring Boot</a>
                    </strong>
                    <p class="">Spring Boot开发技术小组讨论</p>
                </div>
                <div class="widget-sentence-content"><span></span></div>
            </div>
        </div>

        <div id="articlediv" class="widget widget_sentence">
            <h3>我发布的博客</h3>
            <article class="excerpt excerpt-1" style="">
                <a class="focus" title="${blogAticle.title}" target="_blank" href="/?id="></a>
                <header>
                    <h2>
                        <a title="${blogAticle.title}" target="_blank" href="/community/blogShow?id=">谷歌浏览器chrome的vuejs
                            devtools 插件的安装 </a>
                    </h2>
                </header>
                <p class="meta">
                    <time class="time">
                        <i class="glyphicon glyphicon-time"></i>
                        <span>2018-12-14</span>
                    </time>
                    <a href="/?id=">
                        <i class="glyphicon glyphicon-user"></i> <span>aaa</span>
                    </a>
                    <i class="glyphicon "></i>
                    访问数&nbsp;<span class="dropdown-toggle" rel="nofollow">23</span>&nbsp;&nbsp;
                    评论数&nbsp;<span class="dropdown-toggle" rel="nofollow">0</span>
                </p>
                <p class="note"></p>
            </article>
        </div>
    </div>
</section>

<div>
    <footer class="footer">
        <div class="container">
            Copyright @ 2018 太极旺仔牛奶小组 Powered By Innovation and Research Institute
        </div>
    </footer>
</div>
</body>
</html>